<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info" ng-hide="$root.currentUser || $root.loggingIn">
      Log in to create a party!
    </div>
    <form ng-show="$root.currentUser">
      <h2>Create a new party:</h2>
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input ng-model="plc.newParty.name" id="nameInput" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input ng-model="plc.newParty.description" id="description" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="public">
          <input type="checkbox" ng-model="plc.newParty.public" id="public"> Public
        </label>
      </div>
      <button ng-click="plc.newParty.owner=$root.currentUser._id;plc.parties.push(plc.newParty); plc.newParty='';" class="btn">Add</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <h1>Parties:</h1>
    <form class="form-inline search-form">
      <div class="form-group">
        <label class="sr-only" for="search">Search</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
          <input type="text" ng-model="plc.search" placeholder="Search" id="search" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="sort-order">Sort Order</label>
        <select ng-model="plc.orderProperty" class="form-control">
          <option value="1">Ascending</option>
          <option value="-1">Descending</option>
        </select>
      </div>
    </form>
    <div class="angular-google-map-container">
      <ui-gmap-google-map center="plc.map.center" zoom="plc.map.zoom">
        <ui-gmap-markers models="plc.parties" coords="'location'" click="onClicked()"
                         fit="true" idkey="'_id'" doRebuildAll="true">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
<ul class="list-group">
  <li dir-paginate="party in plc.parties | itemsPerPage: plc.perPage" total-items="plc.partiesCount.count" class="list-group-item">
    <div class="row">
      <div class="col-sm-8">
        <h2><a href="/parties/{{party._id}}">{{party.name}}</a></h2>
        <p>{{party.description}}</p>
      </div>
      <div class="col-sm-4">
        <a ng-click="plc.remove(party)" class="close" ng-show="$root.currentUser && $root.currentUser._id == party.owner">&times;</a>
      </div>
    </div>

    <div ng-show="$root.currentUser">
      <input type="button" value="I'm going!" ng-click="plc.rsvp(party._id, 'yes')" class="btn btn-primary">
      <input type="button" value="Maybe" ng-click="plc.rsvp(party._id, 'maybe')" class="btn">
      <input type="button" value="No" ng-click="plc.rsvp(party._id, 'no')" class="btn">
    </div>
    <div ng-if="party.public">
      Everyone is invited
    </div>
    <div ng-hide="$root.currentUser">
      <i>Sign in to RSVP for this party.</i>
    </div>

    <div>
      <strong>Who is coming:</strong>
      Yes - {{ (party.rsvps | filter:{rsvp:'yes'}).length }}
      Maybe - {{ (party.rsvps | filter:{rsvp:'maybe'}).length }}
      No - {{ (party.rsvps | filter:{rsvp:'no'}).length }}
      <div ng-repeat="rsvp in plc.party.rsvps | filter:{rsvp:'yes'}">
          {{ plc.getUserById(plc.rsvp.user) | displayName }} - {{ plc.rsvp.rsvp }}
      </div>
      <div ng-repeat="rsvp in plc.party.rsvps | filter:{rsvp:'maybe'}">
          {{ plc.getUserById(plc.rsvp.user) | displayName }} - {{ plc.rsvp.rsvp }}
      </div>
      <div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'no'}">
          {{ plc.getUserById(plc.rsvp.user) | displayName }} - {{ plc.rsvp.rsvp }}
      </div>
    </div>
    <ul ng-if="!party.public">
      Users who haven't responded:
      <li ng-repeat="invitedUser in plc.outstandingInvitations(party)">
          {{ invitedUser | displayName }}
      </li>
    </ul>
    <p><small>Posted by {{ plc.creator(party) | displayName }}</small></p>
  </li>
</ul>
<dir-pagination-controls on-page-change="plc.pageChanged(plc.newPageNumber)"></dir-pagination-controls>
