<legend>
  Here you will see and change the details of the party:
</legend>
<form class="form-inline">
  <div class="form-group">
    <label>Party Name</label>
    <input ng-model="pdc.party.name" ng-disabled="pdc.party.owner != $root.currentUser._id" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Party Description</label>
    <input ng-model="pdc.party.description" ng-disabled="pdc.party.owner != $root.currentUser._id" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Is public</label>
    <input type="checkbox" ng-model="pdc.party.public" ng-disabled="pdc.party.owner != $root.currentUser._id">
  </div>
  
  <ul ng-show="pdc.canInvite()">
    Users to invite:
    <li ng-repeat="user in pdc.users | uninvited:pdc.party">
      <div>{{ user | displayName }}</div>
      <button ng-click="invite(user)">Invite</button>
    </li>
    <li ng-if="(pdc.users | uninvited:pdc.party).length <= 0">
      Everyone are already invited.
    </li>
  </ul>

  <div class="angular-google-map-container">
    <ui-gmap-google-map center="pdc.map.center" events="pdc.map.events" zoom="pdc.map.zoom">
      <ui-gmap-marker coords="pdc.party.location" options="pdc.map.marker.options" events="pdc.map.marker.events" idkey="pdc.party._id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</form>